<div class="nav-1">
    <ul>
        <a href="">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/casa.png" alt="link home">
                    <i>Home</i>
                </div>
            </li>
        </a>
        <a href="#contatos">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/contato.png" alt="link home">
                    <i>Contatos</i>
                </div>
            </li>
        </a>
        <a href="#certificados">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/contrato.png" alt="link home">
                    <i>certificados</i>
                </div>
            </li>
        </a>
        <a href="">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/gestao.png" alt="link home">
                    <i>Projetos</i>
                </div>
            </li>
        </a>
        <a href="#sobre">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/sobre.png" alt="link home">
                    <i>Sobre</i>
                </div>
            </li>
        </a>
    </ul>
</div>
<div class="nav-social">
       <h1>Acompanhe-me</h1> 
       <ul>
        <a href="/externo/instagram" target="_blank">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/instagram.png" alt="link home">
                    <i>instagram</i>
                </div>
            </li>
        </a>
        <a href="/externo/linkedin/" target="_blank">
            <li>
                <div class="align-itens">
                    <img src="/pub/img/icons/linkedin.png" alt="link home">
                    <i>linkedin</i>
                </div>
            </li>
        </a>
       </ul>
</div>