<a href="/externo/git" target="_blank" rel="noopener noreferrer" class="ButtonFixedTop__Btn-sc-1s8kp9f-0 gitbut"> 
        <img src="/pub/img/icons/github.png" alt="">
        <span class="text">Gitbut</span>
</a>