html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

:root{
    --header-painel-background: rgba(255, 255, 255, 0.28);
    --github-color:rgb(5, 27, 44);
}

